[Unit]
Description=VirtualBox Guest Addons
ConditionVirtualization=oracle
Wants=vboxdrmclient.path
Before=display-manager.service

[Service]
ExecStartPre=-/sbin/modprobe vboxguest
ExecStartPre=-/sbin/modprobe vboxvideo
ExecStartPre=-/sbin/modprobe vboxsf
ExecStart=/usr/sbin/VBoxService -f

[Install]
WantedBy=multi-user.target

