[Unit]
Description=VirtualBox Guest Addons
Before=time-sync.target
ConditionVirtualization=oracle

[Service]
ExecStartPre=-/sbin/modprobe vboxguest
ExecStartPre=-/sbin/modprobe vboxvideo
ExecStartPre=-/sbin/modprobe vboxsf
ExecStart=/usr/sbin/VBoxService -f

[Install]
WantedBy=multi-user.target

